.hero-section{
    width: 100%;
    height: calc[100vh - 60px];
    background:black;
    position:relative;
}


.hero-content {
    height: 83.333333%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }